imageio==2.13.5
kaleido==0.2.1
multiprocess==0.70.12.2
notebook==6.4.6
numpy==1.21.5
opencv-python==4.5.5.62
pandas==1.3.5
Pillow==8.4.0
plotly==5.5.0
psutil==5.8.0
requests==2.26.0
setuptools
tornado==6.1
transformations==2021.6.6
